rm -f /etc/machine-id
systemd-machine-id-setup
hostnamectl set-hostname controller
echo controller > /etc/hostname
echo "" > /etc/motd
sed -i 's/^#PermitRootLogin .*/PermitRootLogin yes/g' /etc/ssh/sshd_config
echo "curl -s https://raw.githubusercontent.com/goffinet/ansible-ccna-lab/master/tests/almalinux9-controller.sh -o setup.sh" > readme.txt
echo "bash setup.sh ; reboot" >> readme.txt
{% for interface in interfaces %}
nmcli c mod "{{ interface['id'] }}" ipv4.method manual ipv4.addresses {{ interface['ipv4_address'] }}
nmcli c mod "{{ interface['id'] }}" ipv4.dns {{ interface['ipv4_dns'] }}
nmcli c up  "{{ interface['id'] }}"
{% endfor %}
#disown %1
