{% if inventory_hostname in groups['clients'] and image_style == "centos" %}
{% include 'clients_config.j2' %}
{% endif %}
{% if inventory_hostname in groups['servers'] and image_style == "centos" %}
{% include 'servers_config.j2' %}
{% endif %}
{% if inventory_hostname == "gateway" and image_style == "openwrt" %}
{% include 'openwrt_config.j2' %}
{% endif %}
{% if inventory_hostname == "controller" and image_style == "centos" %}
{% include 'controller_config.j2' %}
{% endif %}
