configure terminal
hostname {{ inventory_hostname }}
{% if mgmt_interface is defined %}
interface {{ mgmt_interface }}
{% if image_style == "iosv_l2" %}
no switchport
{% endif %}
ip address dhcp
no cdp enable
no shutdown
{% endif %}
{% if inventory_hostname == "R1" and image_style == "iosv_l3" %}
ipv6 unicast-routing
interface GigabitEthernet0/0
ip address 192.168.72.1 255.255.255.0
ipv6 address FE80::1 link-local
ipv6 address 2001:DB8:1AB1::1/64
no shutdown
interface GigabitEthernet0/2
ip address 192.168.95.1 255.255.255.252
ipv6 address FE80::1 link-local
no shutdown
interface GigabitEthernet0/3
ip address 192.168.127.1 255.255.255.252
ipv6 address FE80::1 link-local
no shutdown
ip dhcp pool LAN_R1
network 192.168.72.0 255.255.255.0
default-router 192.168.72.1
dns-server 192.168.72.1
{% endif %}
{% if inventory_hostname == "R2" and image_style == "iosv_l3" %}
ipv6 unicast-routing
interface GigabitEthernet0/0
ip address 192.168.80.1 255.255.255.0
ipv6 address FE80::2 link-local
ipv6 address 2001:DB8:1AB2::1/64
no shutdown
interface GigabitEthernet0/1
ip address 192.168.95.2 255.255.255.252
ipv6 address FE80::2 link-local
no shutdown
ip dhcp pool LAN_R2
network 192.168.80.0 255.255.255.0
default-router 192.168.80.1
dns-server 192.168.80.1
{% endif %}
{% if inventory_hostname == "R3" and image_style == "iosv_l3" %}
ipv6 unicast-routing
interface GigabitEthernet0/0
ip address 192.168.104.1 255.255.255.0
ipv6 address FE80::3 link-local
ipv6 address 2001:DB8:1AC3::1/64
no shutdown
interface GigabitEthernet0/1
ip address 192.168.127.2 255.255.255.252
ipv6 address FE80::3 link-local
no shutdown
ip dhcp pool LAN_R3
network 192.168.104.0 255.255.255.0
default-router 192.168.104.1
dns-server 192.168.104.1
{% endif %}
ip domain-name lan
username {{ gns3_lab_user }} privilege 15 password {{ gns3_lab_pass }}
crypto key generate rsa modulus 2048
ip ssh version 2
ip scp server enable
line vty 0 4
login local
transport input ssh
end
write memory
