---
- name: define the version of stp
  ios_config:
    defaults: yes
    lines: spanning-tree mode {{ stp.mode }}
  when: stp.mode is defined
- name: define the stp root primary
  ios_config:
    defaults: yes
    lines: spanning-tree vlan {{ stp.primary | join(',') }} root primary
  when: stp.primary is defined
- name: define the stp root secondary
  ios_config:
    defaults: yes
    lines: spanning-tree vlan {{ stp.secondary | join(',') }} root 28672
  when: stp.secondary is defined
