{% if image_style == "iosv_l2" or image_style == "iosv_l3" %}
{% include 'iosv_config.j2' %}
{% endif %}
{% if inventory_hostname in groups['end_hosts'] and image_style == "linux" %}
{% include 'end_hosts_config.j2' %}
{% endif %}
{% if inventory_hostname == "controller" and image_style == "linux" %}
{% include 'controller_config.j2' %}
{% endif %}
