configure terminal
hostname {{ inventory_hostname }}
banner motd # This is {{ inventory_hostname }}, {{ inventory_dir }} CCNP Lab #
{% if mgmt_interface is defined %}
interface {{ mgmt_interface }}
{% if image_style == "iosv_l2" %}
no switchport
{% endif %}
ip address dhcp
no cdp enable
no shutdown
{% endif %}
{% if inventory_hostname == "DS2" and image_style == "iosv_l2" %}
no ip routing
{% endif %}
{% if image_style == "iosv_l2" %}
interface range g0/0-3, g1/1-3, g2/0-1, g3/0-2
shutdown
{% endif %}
ip domain-name lan
username {{ gns3_lab_user }} privilege 15 password {{ gns3_lab_pass }}
crypto key generate rsa modulus 2048
ip ssh version 2
ip scp server enable
line vty 0 4
login local
transport input ssh
line con 0
exec-timeout 0 0
logging synchronous
end
write memory
