---
- name: add ipv4 routes
  ios_static_route:
    prefix: "{{ item.1.destination | ipaddr('network') }}"
    mask: "{{ item.1.destination | ipaddr('netmask') }}"
    interface: "{{ item.0.id }}"
    name: "Static route to {{ item.1.destination | ipaddr('network/prefix') }} via {{ item.0.id }}"
    admin_distance: "{{ item.1.ad | default('254') }}"
    state: "{{ item.1.state | default('present') }}"
  loop: "{{ interfaces|subelements('static', skip_missing=True) }}"
  when: item.1.destination | ipv4
- name: add ipv6 routes
  ios_config:
    lines: >
      ipv6 route {{ item.1.destination | ipaddr('network/prefix') | string | upper }}
      {{ item.0.id }}
      {{ item.1.next_hop | ipv6 }}
      {{ item.1.ad | default('254') }}
  loop: "{{ interfaces|subelements('static', skip_missing=True) }}"
  when:
    - item.1.destination | ipv6
    - item.0.ipv6_addresses | ipaddr('FE80::/16')
